[uwsgi]
plugins = python3
project = babybuddy
base_dir = /app
http-socket = :${BABYBUDDY__PORT}

chdir = %(base_dir)/www/%(project)/public
virtualenv = %(base_dir)/.kahpy
module =  %(project).wsgi:application
env = DJANGO_SETTINGS_MODULE=%(project).settings.base
master = True
vacuum = True
